= javascript_pack_tag 'autorefresh_page'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l We are checking your uploaded file
      %p
        We are checking the information in your .CSV file you uploaded to the National Taxi and PHV
        register.
      %p
        Please wait for a message confirming that the upload has been successful (and don’t leave the
        page or press the back button).
      %p
        If you don’t get a message after 30 seconds,
        = link_to 'click here', processing_upload_index_path
